@use "../utils/variables" as var;

body {
  font-family: var.$main-font;
}

h1,
h2,
h3 {
  font-family: var.$heading-font;
  font-weight: 300;
}

h2,
h3 {
  color: var.$black;
}

.headlines {
  font-size: 2.5rem;
}

.sidebar-list {
  font-family: var.$heading-font;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.about {
  text-align: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.subtitle {
  color: var.$dark-gray;
  font-size: 1rem;
}

.projects-button {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
}

.card {
  h3 {
    color: var.$white;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

.copyright {
  font-family: var.$heading-font;
  color: var.$dark-gray;
}
